form {
    position: absolute;
    padding: 15px;
    top: 25%;
    left: 35%;
    width: 500px;
    background-color: #A9A9A9;
    border-radius: 15px;
}

.actions {
    margin-top: 10px;
    display: flex;
    gap: 300px;
    width: 100%;
}

.actions button{
    width: 70px;
}