<div class="header">
    <p>Transactions</p>
    <button type="button" class="btn btn-primary" (click)=" openDialog()"><fa-icon [icon]="faPlus"></fa-icon>  New Transaction</button>
</div>
<div class="content">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Actions</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>Food</td>
                <td>2024-08-08</td>
                <td>$50</td>
                <td class="action">
                  <button type="button" class="btn btn-primary"><fa-icon [icon]="faEdit"></fa-icon></button>
                  <button type="button" class="btn btn-danger"><fa-icon [icon]="faDeleteLeft"></fa-icon></button>
                </td>
              </tr>
              <tr>
                <td>Salary</td>
                <td>2024-08-07</td>
                <td>$3000</td>
                <td class="action">
                  <button type="button" class="btn btn-primary"><fa-icon [icon]="faEdit"></fa-icon></button>
                  <button type="button" class="btn btn-danger"><fa-icon [icon]="faDeleteLeft"></fa-icon></button>
                </td>
              </tr>
              <tr>
                <td>Transport</td>
                <td>2024-08-06</td>
                <td>$20</td>
                <td class="action">
                  <button type="button" class="btn btn-primary"><fa-icon [icon]="faEdit"></fa-icon></button>
                  <button type="button" class="btn btn-danger"><fa-icon [icon]="faDeleteLeft"></fa-icon></button>
                </td>
              </tr>
        </tbody>
      </table>
</div>
